body{
    margin: 0;
    padding: 0;
    font-family: monospace;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}

.first{
    background: #f2f2f2;
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
    align-items: center;
}

.left-container ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.first .left-container ul li h1{
    font-size: 70px;
    margin: 10px 0;
    color:#63a886;
}

.first .left-container ul li h3{
    margin: 0 0 25px 0;
}

.first .left-container{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.first .right-container{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.profile-pic img{
   width: 400px;
   height: 400px;
   border-radius: 50%;
}

#magic-btn{
    background: #63a886;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin: 20px 0;

}

.hidden-btn{
    display: none;
}

.second{
    background: #8ADAB2;
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
}

.info{
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-title{
    margin: 25px 0 10px 0;
}

.info-title h1{
    font-size: 50px;
    color: #fff;
}

.profile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.info-content{
    width: 80%;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.info-content ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.info-content ul li{
    margin: 20px 0;
}

.info-content ul li h3{
    display: inline;
    font-weight: bold;
    margin-bottom: 10px;
}

.info-content ul li p{
    display: inline;
}

.contact{
    width: 60%;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact ul{
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;

}

.contact ul li i{
    font-size: 30px;
    color: #fff;
}

.second-img{
    width: 60%;
    height: 100vh;
    position: relative;
    background-color: red;
    background-image: url('https://www.kmitl.ac.th/sites/default/files/2021-08/Sattawat1_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-title{
    margin: 50px 0;
}

.container .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 40px;
    
}

.card{
    width: 500px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.card-img img{
    width: 100%;
    max-height: 200px;
    border-radius: 10px;
}

.card-content{
    padding: 10px 0;
}

.col-lg{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background: #0a0e0c;
    color: #fff;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .profile-pic img {
        width: 300px;
        height: 300px;
    }
}